{% extends "app/base.html" %} {% block title %}Playground{% endblock title%} {%
block content %}

<div id="root">
  <div
    style="min-width: 300px"
    class="h-100 sidebar p-4 bg-primary border-top border-white border-danger"
  >
    <h4 class="text-white font-semibold mb-4">Components</h4>
    <ul class="nav flex-column">
      {% for comp in data.components %}
      <li class="nav-item dropdown py-2 border-1 border-bottom border-white">
        <a
          class="nav-link text-white"
          href="#"
          id="component{{ comp.name }}Dropdown"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          {{ comp.name }}
        </a>
        <ul
          class="dropdown-menu"
          aria-labelledby="component{{ comp.name }}Dropdown"
        >
          {% for variant in comp.variants %}
          <button
            class="p-2"
            onclick="addComponent('{{ comp.name }}', '{{ variant.name }}')"
          >
            {{variant.name}}
          </button>
          {% endfor %}
        </ul>
      </li>
      {% endfor %}
    </ul>
  </div>

  <main class="w-100 h-100 d-flex flex-column">
    {% include "app/components/navbar.html" %}

    <iframe
      id="playground_inner"
      width="100%"
      height="100%"
      style="zoom: 70%"
      src="/{{data.username}}/{{data.projectname}}"
      frameborder="2"
    >
    </iframe>

    {% include "app/components/options.html" %}
  </main>
</div>

{% endblock content %}
