* {
  touch-action: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  display: flex;
  justify-content: center;
}

#root {
  width: 100%;
  height: 100vh;
  display: flex;
}

main {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

#playground {
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  position: absolute;
  transform-origin: top center;
  cursor: grab;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.options-drawer {
  width: 400px;
  height: 100vh;
  left: 0;
  background: #fff;
  position: absolute;
  z-index: 10;
  transform: translateX(-120%);
  transition: all 0.3s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  
  button {
    width: 30px;
    margin-left: auto;
    height: 30px;
    background: red;
    border-radius: 10px;
    color: #fff;
    border: none;
  }
}

.options-drawer.show {
  transform: translateX(0);
}
